@model IEnumerable<Proyecto1_GabrielOrtegaSolano.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados</h1>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="filtro" class="form-control" placeholder="Buscar cliente..." />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioPorDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasVacaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRetiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoLiquidacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioPorDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasVacaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRetiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoLiquidacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Cedula}) |
                    @Html.ActionLink("Details", "Details", new { id = item.Cedula }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Cedula })
            </td>
        </tr>
}
    </tbody>
</table>
