@model IEnumerable<ProyectoWebMVC.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehiculos";
}

<h1>Vehiculos</h1>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="filtro" class="form-control" placeholder="Buscar cliente..." />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>
<p>
    <form asp-action="Create" method="get" class="mb-3">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Traccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaFechaAtencion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TratamientoEspecial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Traccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaFechaAtencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TratamientoEspecial)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Placa }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Placa }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Placa })
            </td>
        </tr>
}
    </tbody>
</table>
